.class { 
	padding: 0;
	margin: 60px 0 0 0;
	border-radius: 5px; }

.class-content,
.user-ava,
.user-data,
.user-nav { 
	background: #fff;
	margin: 5px 0;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc; }

.class-header { 
	font-size: 1.2em;
	line-height: 3em;
	padding: 0; }

.class-name { 
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #F0F8FF; }

.user { 
	padding: 0; }

.ava-block { 
	border-radius: 5px;
	overflow: hidden; }

.ava { 
	position: absolute; }

.user-data { 
	cursor: pointer; }

.class-content { 
	background: #F0F8FF;
	overflow: auto;
	height: 70vh; }

.user-nav { 
	background: #F0F8FF; }

.input-group { 
	padding: 0;
	margin: 20px 0; }

.input-wrap { 
	padding: 0; }

.user-data:hover .remove{ 
	visibility: visible; }

.info { 
	line-height: 2.5em; }
